* {
    margin: 10px;
    padding: 3px;
    text-align: center;
}

.App {
    display: flex;
    flex-direction: column;
}

.btn {
    box-shadow: 4px 12px 12px -8px #3e7327;
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color: #77b55a;
    border-radius: 13px;
    border: 2px solid #4b8f29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 19px;
    font-weight: bold;
    padding: 19px 49px;
    text-decoration: none;
    text-shadow: 3px 2px 8px #5b8a3c;
}

.btn:hover {
    background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    background-color: #72b352;
}

.btn:active {
    position: relative;
    top: 1px;
}